.headerPara {
  font-size: 1.33rem;
  color: var(--text-color);
  font-family: 'Poppins';
  margin-bottom: 2.5rem;
}

.textareaBottomText {
  font-size: 1.2rem;
  color: #4c4c4c;
  font-family: 'Poppins';
}
.textLength {
  font-size: 1.2rem;
  color: var(--app-color);
  font-family: 'Poppins';
}
.textareaEmoji {
  height: 1.67rem;
  margin-left: 7px;
}

.btn {
  height: 4.5rem;
  width: 10.5rem;
  border-radius: 5px;
  font-size: 1.33rem;
  font-family: 'Poppins';
}

.nextBtn {
  background-color: var(--app-color);
  color: var(--white);
}
