.modalMain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: 47rem;
  height: auto;
  border: none;
  @apply flex   items-center;
  outline: none;
  flex-direction: column;
  padding: 8vh 0;
}

.checkContainer {
  height: 19rem;
  width: 19rem;
  border-radius: 50%;
  background-color: #ff070740;
  @apply flex justify-center items-center;
  margin-bottom: 3.75rem;
}
.check {
  height: 8rem;
}
.heading {
  font-size: 2rem;
  font-family: 'Poppins-Bold';
  line-height: 1.1;
  color: var(--text-color);
  margin-bottom: 1.7rem;
}
.para {
  font-size: 1.5rem;
  color: #676d7d;
  font-family: 'Poppins';
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.75rem;
}
.btn {
  height: 4.66rem;
  width: 24rem;
  background-color: var(--app-color);
  border-radius: 8px;
  font-size: 1.3rem;
  color: var(--white);
  font-family: 'Poppins';
}
