.modal {
  width: 40rem;
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: 100;
}
.filterContent {
  background-color: var(--white);
  padding: 2.3rem 3.2rem;
  border-radius: 5px;
}
.header {
  @apply flex justify-between items-center;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--common-app-text);
  margin-bottom: 3.3rem;
}
.heading {
  font-size: 1.67rem;
  color: var(--text-color);
  font-family: 'Poppins-Medium';
  margin: 0;
  line-height: 1;
}
.crossContainer {
  @apply flex justify-center items-center;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 8px;
  background-color: #676d7d12;
  cursor: pointer;
}
.cross {
  font-size: 1rem;
  color: #676d7d;
}

.main {
  margin-bottom: 2.4rem;
}
.subHeading {
  font-size: 1.4rem;
  color: var(--text-color);
  font-family: 'Poppins-Medium';
  margin-bottom: 1.25rem;
  line-height: 1.1;
}
.optionsContainer {
  display: flex;
  flex-wrap: wrap;
}
.option {
  padding: 1.25rem 1.67rem;
  border-radius: 5px;
  border: 1px solid #ebf9f5;
  font-size: 1.2rem;
  margin-right: 1.4rem;
  color: var(--text-color);
  cursor: pointer;
}
.optionSelected {
  background-color: var(--app-color);
  color: var(--white);
}
.datesContainer {
  @apply flex items-center;
  padding-bottom: 2.3rem;
  border-bottom: 2px solid var(--common-app-text);
  flex-wrap: wrap;
}
.label {
  font-size: 0.9rem;
  color: var(--text-color);
  font-family: 'Poppins';
  margin-bottom: 5px;
}
.datePicker {
  height: 4.2rem;
  width: 11.67rem;
  border: 1px solid #ebf9f5;
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1.2rem;
  outline: none;
  font-family: 'Poppins';
  padding-left: 2rem;
}
.datesDash {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 0 1.25rem;
  font-family: 'Poppins';
  line-height: 1;
  padding-top: 0.8rem;
}
.btnOutline {
  height: 3.75rem;
  width: 11.5rem;
  border: 1px solid var(--common-app-text);
  border-radius: 5px;
  font-size: 1.33rem;
  color: var(--text-color);
  font-family: 'Poppins';
  background-color: transparent;
  margin-right: 1.67rem;
}
.btnFill {
  height: 3.75rem;
  width: 11.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.33rem;
  background-color: var(--app-color);
  color: var(--white);
  font-family: 'Poppins';
}

@media (max-width: 768px) {
  .modal {
    width: 90vw;
    position: fixed;
    bottom: 5vh;
    left: 50%;
    top: unset;
    transform: translateX(-50%);
  }
  .filterFields {
    max-height: 60vh;
    overflow: auto;
  }
  .datesContainer {
    padding-bottom: 0;
    border: 0;
  }
  .filterContent {
    background-color: var(--white);
    padding: 2.5rem 1rem;
    padding-bottom: 0;
    border-radius: 5px;
  }
  .filterfooter {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .btnOutline {
    background-color: #ebf9f5;
    color: var(--text-color);
    width: 48%;
    height: 3.75rem;
  }
  .btnFill {
    width: 48%;
    height: 3.75rem;

  }
}
